@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 569px) and (max-width: 768px) {
        @content;
    }
}

@mixin semiDesktop {
    @media (min-width: 987px) and (max-width: 1200px) {
        @content;
    }
}

.wrapp-pagination{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 20%;
    padding-left: 15px;
    padding-top: 20px;

    @include navContactMobile(){
        margin-left: 0;
        padding-left: 0;
        padding-top: 0;
    }

    @include tablet(){
        margin-left: 0;
        padding-left: 0;
        padding-top: 0;
    }

    @include semiDesktop(){
        margin-left: 25%;
    }

    .column-btn-pagination{
        display: flex;

        .number-pagination{
            display: flex;
            font-size: 14px;
            color: $color1;
            padding: 5px 10px;
            background-color: transparent;
            border: 1px solid #eee;
            cursor: pointer;
            margin-right: 5px;
            transition: 0.3s ease-in-out;
        }
    }
}