@import '../../utils/variable.scss';

.wrapp-pagination{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 20%;
    padding-left: 15px;
    padding-top: 50px;

    .column-btn-pagination{
        display: flex;

        .number-pagination{
            display: flex;
            font-size: 14px;
            color: $color1;
            padding: 5px 10px;
            background-color: transparent;
            border: 1px solid #eee;
            cursor: pointer;
            margin-right: 5px;
            transition: 0.3s ease-in-out;
        }
    }

    .loading-paginate{
        display: flex;
        position: absolute;
        align-items: center;
        margin-top: 10px;
        overflow: hidden;
        top: 0;
        transition: 0.2s ease-in-out;

        .circle-loading{
            display: flex;
            height: 20px;
            width: 20px;
            border-radius: 500px;
            border: 1px solid $color2;
            border-top: 1px solid #eee;
            animation: animation 0.6s ease-in-out infinite;
        }

        .txt-loading-paginate{
            display: flex;
            font-size: 14px;
            color: $color1;
            margin-left: 5px;
        }
    }
}

@keyframes animation{
    to{
        transform: rotate(360deg);
    }
}