@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 569px) and (max-width: 768px) {
        @content;
    }
}

.wrapp-about{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 125px;

    .container-header{
        display: flex;
        z-index: 1;
        margin-bottom: -40px;

        @include navContactMobile(){
            margin-bottom: -50px;
        }

        @include tablet(){
            margin-bottom: -50px;
        }
    }

    .feedback-about{
        display: flex;
        flex-direction: column;
        padding: 100px 0;
        background-color: $color5;

        @include navContactMobile(){
            padding: 50px 0;
        }

        .title-feedback-about{
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            padding: 0 10%;
        }

        .paragraph-feedback-about{
            display: flex;
            font-size: 14px;
            color: $color1;
            justify-content: center;
            text-align: center;
            padding: 20px 25% 0 25%;

            @include navContactMobile(){
                padding: 20px 10% 0 10%;
            }
        }

        .column-carousel-feedback-about{
            display: flex;
            margin-top: 80px;
        }
    }
}