@import '../../utils/variable.scss';

.button-card{
    display: flex;
    position: relative;
    padding: 15px 40px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $color2;
    border: 1px solid $color2;
    outline: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    letter-spacing: 0.5px;
    overflow: hidden;
    &:hover{
        background-color: transparent;
        color: $color2;
    }
    
    i{
        display: none;
        margin: 1px 0 0 10px;
    }

    .loading-btn{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: $color2;
        cursor: not-allowed;
        justify-content: center;
        align-items: center;

        .loading-circle{
            display: flex;
            height: 27px;
            width: 27px;
            border-radius: 500px;
            border: 2px solid #fff;
            border-top-color: $color2;
            transform: rotate(0);
            animation: load 0.6s ease infinite;
        }
    }
}

@keyframes load {
    to{
        transform: rotate(360deg);
    }
}