@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 569px) and (max-width: 768px) {
        @content;
    }
}

@mixin bigTablet {
    @media (min-width: 769px) and (max-width: 986px) {
        @content;
    }
}

@mixin mobileToDesktop {
    @media (min-width: 569px) and (max-width: 986px) {
        @content;
    }
}

@mixin semiDesktop {
    @media (min-width: 987px) and (max-width: 1200px) {
        @content;
    }
}

.wrapp-blog{
    display: flex;
    flex-direction: column;
    background-color: $color5;
    margin-top: 125px;

    .container-header{
        display: flex;
    }

    .column-card-img-blog{
        display: flex;
        justify-content: space-between;
        padding: 100px 10% 80px 10%;

        @include navContactMobile(){
            flex-direction: column;
            padding: 50px 5%;
        }

        @include tablet(){
            flex-direction: column;
        }

        @include bigTablet(){
            flex-direction: column;
        }

        .card-img-blog{
            display: flex;
            height: 200px;
            width: calc(95%/3);
            
            @include navContactMobile(){
                width: auto;
                margin-bottom: 15px;
            }

            @include tablet(){
                height: 250px;
                width: auto;
                margin-bottom: 15px;
            }

            @include bigTablet(){
                height: 300px;
                width: auto;
                margin-bottom: 30px;
            }
        }
    }

    .container-content-blog{
        display: flex;
        padding: 0px 10% 80px 10%;

        @include navContactMobile(){
            padding: 0 5% 50px 5%;
            flex-direction: column;
        }

        @include mobileToDesktop(){
            flex-direction: column;
        }

        .column-kiri-content-blog{
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            width: 72%;

            @include navContactMobile(){
                width: auto;
                margin-right: 0;
            }

            @include mobileToDesktop(){
                width: auto;
                margin-right: 0;
            }

            .column-card-content-blog{
                display: flex;
                margin-bottom: 30px;

                @include navContactMobile(){
                    flex-direction: column-reverse;
                }

                @include tablet(){
                    flex-direction: column-reverse;
                }

                .date-content-blog{
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                    margin-right: 20px;

                    @include navContactMobile(){
                        width: auto;
                        margin-right: 0;
                        margin-top: 10px;
                    }

                    @include tablet(){
                        width: auto;
                        margin-right: 0;
                        margin-top: 10px;
                    }

                    @include semiDesktop(){
                        width: 25%;
                    }

                    .date-group-content{
                        display: flex;
                        font-size: 14px;
                        color: $color1;
                        text-align: start;
                        margin-bottom: 10px;
                        align-items: center;
                        justify-content: space-between;

                        @include navContactMobile(){
                            justify-content: flex-start;
                        }

                        @include tablet(){
                            justify-content: flex-start;
                        }

                        i{
                            margin-left: 10px;
                        }
                    }

                    .name-kategori-content{
                        color: $color2;
                        margin-bottom: 20px;
                    }
                }

                .card-content-blog{
                    display: flex;
                    width: 80%;

                    @include navContactMobile(){
                        width: auto;
                    }

                    @include tablet(){
                        width: auto;
                    }

                    @include semiDesktop(){
                        width: 75%;
                    }
                }
            }
        }
    }
}