@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $navContactMobile) and (max-width: 768px) {
        @content;
    }
}

.wrapp-card-book-an-appointment{
    display: flex;
    position: relative;
    padding: 40px 0;
    background-color: #fff;
    overflow: hidden;

    .container-book-an-appointment{
        display: flex;
        background-color: $color5;
        padding: 0px 0% 0px 10%;
        width: 100%;
        overflow: hidden;

        @include navContactMobile(){
            padding: 0 0 0 5%;
        }

        .servicing-hours{
            display: flex;
            flex-direction: column;
            width: 40%;
            padding: 100px 0 280px 0;

            @include navContactMobile(){
                width: 100%;
                padding: 50px 5% 750px 0;
            }

            @include tablet(){
                width: 100%;
                padding: 100px 10% 750px 0;
            }

            .title-servicing{
                display: flex;
                font-size: 30px;
                font-weight: bold;
                text-align: start;
            }

            .paragraph-servicing{
                display: flex;
                font-size: 14px;
                color: $color1;
                text-align: start;
                margin-top: 20px;
            }

            .column-date-servicing{
                display: flex;
                flex-direction: column;
                margin-top: 40px;

                .date-servicing{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #eee;
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    .name-day{
                        display: flex;
                        font-size: 14px;
                    }

                    .clock-time{
                        display: flex;
                        font-size: 14px;
                    }
                }
            }
        }

        .book-an-appointment{
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 30%;
            top: 20px;
            bottom: 20px;
            right: 10%;
            padding: 35px;
            background-color: #fff;
            box-shadow: 0px 6px 20px -1px rgba(0,0,0,0.1);
            z-index: 1;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @include navContactMobile(){
                top: 450px;
                width: auto;
                right: 5%;
                left: 5%;
                bottom: 20px;
            }

            @include tablet(){
                top: 500px;
                width: auto;
                right: 10%;
                left: 10%;
                bottom: 20px;
            }

            .title-book-an-appointment{
                display: flex;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                justify-content: center;
                overflow: hidden;
            }

            .form-book-an-appointment{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 20px;

                .column-btn-submit{
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;
                }
            }
        }
    }

    .container-calendar-widgets{
        display: flex;
        position: absolute;
        bottom: 0;
    }

    // .btn-close-from-body{
    //     display: none;
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     z-index: 9;
    // }
}