@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin semiDesktop {
    @media (min-width: 569px) and (max-width: 986px) {
        @content;
    }
}

.wrapp-contact{
    display: flex;
    flex-direction: column;
    margin-top: 125px;

    .container-header{
        display: flex;
    }

    .container-content-contact{
        display: flex;
        flex-direction: column;
        padding: 100px 10% 80px 10%;

        @include navContactMobile(){
            padding: 50px 5%;
        }

        .column-google-maps{
            display: flex;
            height: 400px;
            width: 100%;
            margin-bottom: 80px;
            background-size: cover;
            background-position: center;

            @include navContactMobile(){
                margin-bottom: 50px;
            }
        }

        .column-info-contact-us{
            display: flex;
            justify-content: space-between;

            @include navContactMobile(){
                flex-direction: column;
            }

            @include semiDesktop(){
                flex-direction: column;
            }

            .info-contact-us-group{
                display: flex;
                flex-direction: column;
                width: calc(95%/3);

                @include navContactMobile(){
                    width: auto;
                }

                @include semiDesktop(){
                    width: auto;
                }

                .column-address-contact{
                    display: flex;
                    margin-bottom: 20px;

                    i{
                        display: flex;
                        font-size: 20px;
                        color: $color2;
                        margin-right: 15px;
                    }

                    .list-address-contact{
                        display: flex;
                        flex-direction: column;

                        .title-address-contact{
                            display: flex;
                            font-size: 16px;
                            font-weight: bold;
                            text-align: start;
                            margin-bottom: 5px;
                            text-decoration: none;
                            color: $color4;
                            cursor: text;
                        }

                        .paragraph-address-contact{
                            display: flex;
                            font-size: 14px;
                            color: $color1;
                            text-align: start;
                        }
                    }
                }

                .column-btn-submit-contact-us{
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 30px;
                }
            }
        }
    }
}