@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 569px) and (max-width: 768px) {
        @content;
    }
}

@mixin bigTablet {
    @media (min-width: 769px) and (max-width: 986px) {
        @content;
    }
}

@mixin semiDesktop {
    @media (min-width: 769px) and (max-width: 1200px) {
        @content;
    }
}

.wrapp-home{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 125px;
    
    .banner-home{
        display: flex;
        flex-direction: column;
        position: relative;
        height: 600px;
        width: 100%;
        justify-content: center;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;

        @include navContactMobile(){
            height: 400px;
        }

        .title-banner-home{
            display: flex;
            text-align: start;
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            padding: 0 10%;
            width: 500px;
            z-index: 1;

            @include navContactMobile(){
                padding: 0 5%;
                width: auto;
                font-size: 30px;
            }
        }

        .paragraph-banner-home{
            display: flex;
            text-align: start;
            margin-top: 40px;
            font-size: 14px;
            color: #fff;
            padding: 0 10%;
            width: 500px;
            z-index: 1;

            @include navContactMobile(){
                padding: 0 5%;
                width: auto;
            }
        }

        .img-banner-home{
            display: flex;
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .procedure-category{
        display: flex;
        flex-direction: column;
        padding: 100px 0 0 0;

        @include navContactMobile(){
            padding: 50px 0 0 0;
        }

        .title-procedure{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 30px;
            padding: 0 10%;

            @include navContactMobile(){
                padding: 0 5%;
            }
        }

        .paragraph-procedure{
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 14px;
            margin-top: 20px;
            justify-content: center;
            color: $color1;
            padding: 0 25%;

            @include navContactMobile(){
                padding: 0 10%;
            }
        }

        .container-card-procedure-home{
            display: flex;
            margin-top: 80px;
            padding: 0 10% 0 10%;
            justify-content: space-between;

            @include navContactMobile(){
                flex-direction: column;
                margin-top: 50px;
                padding: 0 5% 0 5%;
            }

            @include tablet(){
                flex-direction: column;
            }

            @include bigTablet(){
                flex-direction: column;
            }

            .card-procedure-home{
                display: flex;
                width: calc(95%/3);

                @include navContactMobile(){
                    width: auto;
                    margin-bottom: 15px;
                }

                @include tablet(){
                    width: auto;
                    margin-bottom: 15px;
                }
                
                @include bigTablet(){
                    width: auto;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .feedback-home{
        display: flex;
        flex-direction: column;
        padding: 100px 0% 80px 0%;
        background-color: $color5;

        @include navContactMobile(){
            padding: 50px 0;
        }

        .title-feedback-home{
            display: flex;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            padding: 0 10%;
            justify-content: center;

            @include navContactMobile(){
                padding: 0 5%;
            }
        }

        .paragraph-feedback-home{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 14px;
            color: $color1;
            padding: 20px 25% 0 25%;

            @include navContactMobile(){
                padding: 20px 10% 0 10%;
            }
        }
    }

    .our-offered-services-home{
        display: flex;
        flex-direction: column;
        padding: 100px 0 80px 0;

        @include navContactMobile(){
            padding: 50px 0 40px 0;
        }

        .title-offered-services-home{
            display: flex;
            font-size: 30px;
            font-weight: bold;
            justify-content: center;
            text-align: center;

            @include navContactMobile(){
                padding: 0 5%;
            }
        }

        .paragraph-offered-services-home{
            display: flex;
            font-size: 14px;
            color: $color1;
            padding: 20px 25% 0 25%;
            text-align: center;
            justify-content: center;
            
            @include navContactMobile(){
                padding: 20px 10% 0 10%;
            }
        }

        .column-card-offered-services-home{
            display: flex;
            padding: 80px 10% 0px 10%;
            justify-content: space-between;

            @include navContactMobile(){
                flex-direction: column;
                padding: 50px 5% 0 5%;
            }

            @include tablet(){
                flex-wrap: wrap;
            }

            @include semiDesktop(){
                flex-wrap: wrap;
            }

            .card-offered-services-home{
                display: flex;
                width: calc(90%/4);

                @include navContactMobile(){
                    width: auto;
                    margin-bottom: 15px;
                }

                @include tablet(){
                    width: calc(90%/2);
                    margin-bottom: 15px;
                }

                @include semiDesktop(){
                    width: calc(90%/2);
                    margin-bottom: 15px;
                }
            }
        }
    }

    .our-recent-blogs-home{
        display: flex;
        flex-direction: column;
        padding: 80px 0 100px 0;

        @include navContactMobile(){
            padding: 50px 0 50px 0;
        }
        
        .title-recent-blogs-home{
            display: flex;
            font-size: 30px;
            font-weight: bold;
            justify-content: center;
            text-align: center;
            
            @include navContactMobile(){
                padding: 0 5%;
            }
        }

        .paragraph-recent-blogs-home{
            display: flex;
            font-size: 14px;
            color: $color1;
            justify-content: center;
            text-align: center;
            padding: 20px 25% 0 25%;

            @include navContactMobile(){
                padding: 20px 10% 0 10%;
            }
        }

        .column-card-recent-blogs-home{
            display: flex;
            grid-gap: 30px;
            margin-top: 80px;
            padding: 0 10% 0 10%;

            @include navContactMobile(){
                flex-direction: column;
                margin-top: 50px;
                padding: 0 5%;
            }

            @include tablet(){
                flex-direction: column;
                margin-top: 50px;
            }

            @include bigTablet(){
                flex-direction: column;
            }

            .card-recent-blogs-home{
                display: flex;
                width: calc(95%/3);

                @include navContactMobile(){
                    width: auto;
                    margin-bottom: 15px;
                }

                @include tablet(){
                    width: auto;
                    margin-bottom: 15px;
                }

                @include bigTablet(){
                    width: auto;
                    margin-bottom: 15px;
                }
            }
        }
    }
}