@import '../../utils/variable.scss';

.wrapp-home{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    
    .banner-home{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 100%;
        justify-content: center;
        background-size: cover;
        background-position: bottom;

        .title-banner-home{
            display: flex;
            text-align: start;
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            padding: 0 10%;
            width: 500px;
        }

        .paragraph-banner-home{
            display: flex;
            text-align: start;
            margin-top: 40px;
            font-size: 14px;
            color: #fff;
            padding: 0 10%;
            width: 500px;
        }
    }

    .procedure-category{
        display: flex;
        flex-direction: column;
        padding: 100px 0 0 0;

        .title-procedure{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 30px;
            padding: 0 10%;
        }

        .paragraph-procedure{
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 14px;
            margin-top: 20px;
            justify-content: center;
            color: $color1;
            padding: 0 25%;
        }

        .container-card-procedure-home{
            display: flex;
            margin-top: 80px;
            padding: 0 10% 0 10%;
            justify-content: space-between;

            .card-procedure-home{
                display: flex;
                width: calc(95%/3);
            }
        }
    }

    .feedback-home{
        display: flex;
        flex-direction: column;
        padding: 100px 0% 80px 0%;
        background-color: $color5;

        .title-feedback-home{
            display: flex;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            padding: 0 10%;
            justify-content: center;
        }

        .paragraph-feedback-home{
            display: flex;
            text-align: center;
            justify-content: center;
            font-size: 14px;
            color: $color1;
            padding: 20px 25% 0 25%;
        }
    }

    .our-offered-services-home{
        display: flex;
        flex-direction: column;
        padding: 100px 0 80px 0;

        .title-offered-services-home{
            display: flex;
            font-size: 30px;
            font-weight: bold;
            justify-content: center;
            text-align: center;
        }

        .paragraph-offered-services-home{
            display: flex;
            font-size: 14px;
            color: $color1;
            padding: 20px 25% 0 25%;
            text-align: center;
            justify-content: center;
        }

        .column-card-offered-services-home{
            display: flex;
            padding: 80px 10% 0px 10%;
            align-items: center;
            justify-content: space-between;

            .card-offered-services-home{
                display: flex;
                width: calc(90%/4);
            }
        }
    }

    .our-recent-blogs-home{
        display: flex;
        flex-direction: column;
        padding: 80px 0 100px 0;
        
        .title-recent-blogs-home{
            display: flex;
            font-size: 30px;
            font-weight: bold;
            justify-content: center;
            text-align: center;
        }

        .paragraph-recent-blogs-home{
            display: flex;
            font-size: 14px;
            color: $color1;
            justify-content: center;
            text-align: center;
            padding: 20px 25% 0 25%;
        }

        .column-card-recent-blogs-home{
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
            padding: 0 10% 0 10%;

            .card-recent-blogs-home{
                display: flex;
                width: calc(95%/3);
            }
        }
    }
}