@import '../../utils/variable.scss';

.wrapp-home{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    
    .banner-home{
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 100%;
        justify-content: center;
        background-size: cover;
        background-position: bottom;

        .title-banner-home{
            display: flex;
            text-align: start;
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            padding: 0 10%;
            width: 500px;
        }

        .paragraph-banner-home{
            display: flex;
            text-align: start;
            margin-top: 40px;
            font-size: 14px;
            color: #fff;
            padding: 0 10%;
            width: 500px;
        }
    }

    .procedure-category{
        display: flex;
        flex-direction: column;
        padding: 100px 0 0 0;

        .title-procedure{
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 30px;
            padding: 0 10%;
        }

        .paragraph-procedure{
            display: flex;
            text-align: center;
            align-items: center;
            font-size: 14px;
            margin-top: 20px;
            justify-content: center;
            color: $color1;
            padding: 0 25%;
        }

        .container-card-procedure-home{
            display: flex;
            margin-top: 80px;
            padding: 0 10% 0 10%;
            justify-content: space-between;

            .card-procedure-home{
                display: flex;
                width: calc(95%/3);
            }
        }
    }
}