@import '../../utils/variable.scss';

@mixin mobile{
    @media (max-width: 386px) {
        @content;
    }
}

@mixin bigTablet {
    @media (min-width: 987px) and (max-width: 1300px) {
        @content;
    }
}

.wrapp-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;

    .column-img-card{
        display: flex;
        position: relative;
        height: 300px;
        width: 100%;
        cursor: pointer;
        overflow: hidden;

        .img-card{
            display: flex;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.3s ease-in-out;
        }

        .hover-bg-img-black{
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            align-items: center;
            opacity: 0;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            background-color: rgba(0,0,0,0.5);
            transition: 0.3s ease-in-out;

            .column-list-medsos-doctors{
                display: none;
                align-items: center;
                position: absolute;
                top: 40px;

                .list-medsos-doctors{
                    display: flex;
                    margin-right: 5px;

                    .link-medsos-doctors{
                        display: flex;
                        text-decoration: none;
                        
                        i{
                            display: flex;
                            font-size: 14px;
                            height: 30px;
                            width: 30px;
                            border: 1px solid #fff;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            opacity: 0.8;
                            transition: 0.3s ease-in-out;
                            overflow: hidden;
                            &:hover{
                                background-color: #fff;
                                color: $color2;
                            }
                        }
                    }
                }
            }
    
            .title-hover-img{
                display: none;
                font-size: 24px;
                color: #fff;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                padding: 20px 0;
            }

            .paragraph-hover-img{
                display: none;
                font-size: 14px;
                color: #fff;
                text-align: center;
                overflow: hidden;
            }

            i{
                display: flex;
                font-size: 20px;
                color: #eee;
            }
        }
    }
    
    .column-content-card{
        display: none;
        flex-direction: column;

        i{
            display: flex;
            font-size: 20px;
            color: $color2;
        }

        .title-card{
            display: flex;
            font-size: 20px;
            font-weight: bold;
            text-align: start;
            margin: 20px 0;
            transition: 0.3s ease-in-out;
            overflow: hidden;
            &:hover{
                color: $color2;
            }
        }

        .title-card-popular-posts{
            width: auto;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;

            @include mobile(){
                width: 150px;
            }

            @include bigTablet(){
                width: 130px;
            }
        }

        .paragraph-card{
            display: flex;
            text-align: start;
            font-size: 14px;
            color: $color1;
        }

        .comments-card{
            display: none;
            margin-top: 20px;
            font-size: 14px;
            color: $color1;
            text-align: start;
        }
    }

    // delete user comment
    .btn-delete-comment{
        display: none;
        height: 25px;
        width: 25px;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        background-color: transparent;
        color: #e60000;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        &:hover{
            color: #b30000;
        }

        i{
            font-size: 14px;
        }
    }

    .column-date-content-card{
        display: none;
        align-items: center;
        margin-top: 20px;

        li{
            display: flex;
            align-items: center;
            color: $color1;
            font-size: 12px;
            list-style: none;
            margin-right: 20px;

            i{
                display: flex;
                align-items: center;
                padding-right: 5px;
            }

            .date-content-card{
                display: flex;
            }
        }
    }

    .column-btn-submit-card{
        display: none;
        margin-top: 20px;
    }
}