@import '../../utils/variable.scss';

.wrapp-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;

    .column-img-card{
        display: flex;
        position: relative;
        height: 300px;
        width: 100%;
        cursor: pointer;
        overflow: hidden;

        .img-card{
            display: flex;
            width: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.3s ease-in-out;
        }

        .hover-bg-img-black{
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            opacity: 0;
            background-color: rgba(0,0,0,0.5);
            transition: 0.3s ease-in-out;
    
            .title-hover-img{
                display: none;
                font-size: 24px;
                color: #fff;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                padding: 20px 0;
            }

            i{
                display: flex;
                font-size: 20px;
                color: #eee;
            }
        }
    }
    
    .column-content-card{
        display: none;
        flex-direction: column;

        i{
            display: flex;
            font-size: 20px;
            color: $color2;
        }

        .title-card{
            display: flex;
            font-size: 20px;
            font-weight: bold;
            text-align: start;
            margin: 20px 0;
            transition: 0.3s ease-in-out;
            &:hover{
                color: $color2;
            }
        }

        .paragraph-card{
            display: flex;
            text-align: start;
            font-size: 14px;
            color: $color1;
        }

        .comments-card{
            display: none;
            margin-top: 20px;
            font-size: 14px;
            color: $color1;
            text-align: start;
        }
    }

    .column-date-content-card{
        display: none;
        align-items: center;
        margin-top: 20px;

        li{
            display: flex;
            align-items: center;
            color: $color1;
            font-size: 14px;
            list-style: none;
            margin-right: 20px;

            i{
                display: flex;
                align-items: center;
                padding-right: 5px;
            }

            .date-content-card{
                display: flex;
            }
        }
    }

    .column-btn-submit-card{
        display: none;
        margin-top: 20px;
    }
}