@import '../../utils/variable.scss';

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    margin: 0 auto 25px auto;
    height: 30px;
    width: 30px;
    color: $color2;
    // background-color: #ddddddb8;
    background-color: #3fade425;
    border: 6px solid #f7f5f5;
    
    i{
        overflow: hidden;
    }
}

.title-forgot-password{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}

.desc{
    text-align: center;
    font-size: 14px;
    color: $color8;
    margin-bottom: 30px;
}