@import '../../../utils/variable.scss';

.wrapp-success-password-reset{
    display: flex;
    padding: 0 10%;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    background-color: $color3;

    .container-white{
        display: none;
        flex-direction: column;
        height: fit-content;
        width: 400px;
        padding: 35px;
        margin-top: 120px;
        margin-bottom: 80px;
        background-color: #fff;
        overflow: hidden;
    }
}