@import '../../utils/variable.scss';

.box-code{
    display: flex;
    height: 60px;
    width: 60px;
    border: 1px solid $color7;
    border-radius: 5px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    cursor: text;

    input{
        outline: none;
        border: none;
        border-bottom: 1px solid $color7;
        width: 30px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Mulish', sans-serif;
    }
}