@import '../../utils/variable.scss';

@mixin smallMobile {
    @media (max-width: 368px) {
        @content;
    }
}

@mixin navContactMobile {
    @media (min-width: 367px) and (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 569px) and (max-width: 768px) {
        @content;
    }
}

.wrapp-header{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 100px 10%;
    width: 100%;
    overflow: hidden;

    @include smallMobile(){
        padding: 30px 5%;
    }

    @include navContactMobile(){
        padding: 50px 5%;
    }

    @include tablet(){
        padding: 80px 10%;
    }
    
    .img-header{
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .title-header{
        display: flex;
        text-align: start;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        z-index: 1;

        @include smallMobile(){
            font-size: 24px;
        }

        @include navContactMobile(){
            font-size: 30px;
        }
    }

    ul{
        display: flex;
        margin-top: 15px;
        align-items: center;
        z-index: 1;
        .link-page-header{
            display: flex;
            font-size: 14px;
            color: #fff;
            align-items: center;
            margin-right: 10px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover{
                color: $color2;
            }

            i{
                display: flex;
                margin: 1px 0 0 10px;
            }
        }
    }
}