@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin navMobile {
    @media (max-width: $navMobile) {
        @content;
    }
}

.wrapp-navbar{
    display: flex;
    flex-direction: column;

    .nav-contact{
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10%;
        background-color: #fff;
        box-shadow: 0 1px 2px -1px rgba(0,0,0,0.1);
        z-index: 99999;
        transition: 0.3s ease-in-out;

        @include navContactMobile(){
            padding: 17px 5%;
            justify-content: center;
        }

        .column-icon-medsos{
            display: flex;
            align-items: center;

            @include navContactMobile(){
                justify-content: space-between;
                width: 70px;
            }

            .icon-medsos{
                display: flex;
                list-style: none;
                margin-right: 20px;
                font-size: 12px;
                color: $color1;
                overflow: hidden;

                @include navContactMobile(){
                    margin-right: 0;
                }

                i{
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    &:hover{
                        color: $color2;
                    }
                }
            }
        }

        .column-contact{
            display: flex;
            align-items: center;

            @include navContactMobile(){
                display: none;
            }

            .icon-contact{
                display: flex;
                list-style: none;
                align-items: center;
                margin-left: 30px;
                font-size: 12px;
                cursor: pointer;
                transition: 0.3s ease-in-out;

                i{
                    margin-top: 1px;
                    margin-right: 10px;
                    color: $color2;
                }

                .contact{
                    text-decoration: none;
                    color: $color1;
                    &:hover{
                        color: $color2;
                    }
                }
            }
        }
    }

    .nav-page{
        display: flex;
        position: fixed;
        margin-top: 45px;
        left: 0;
        right: 0;
        z-index: 99999;
        justify-content: space-between;
        align-items: center;
        background-color: $color3;
        transition: 0.3s ease-in-out;
        padding: 0px 10%;

        @include navContactMobile(){
            padding: 0 5%;
        }

        .logo-web{
            display: flex;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
        }

        .column-kanan-navbar{
            display: flex;

            @include navMobile(){
                display: none;
            }

            .menu-page-navbar{
                display: flex;
                align-items: center;
    
                .page-navbar{
                    display: flex;
                    margin-left: 30px;
                    height: 80px;
                    cursor: pointer;
                    font-size: 13px;
                    font-weight: bold;
                    color: #000;
                    transition: 0.3s ease-in-out;
                    align-items: center;
                    overflow: hidden;
                    &:hover{
                        color: $color2;
                    }
                }
    
                .menu-collapse{
                    display: none;
                    flex-direction: column;
                    position: fixed;
                    background-color: #fff;
                    box-shadow: 0 2px 8px -1px rgba(0,0,0,0.1);
    
                    .name-menu-collapse{
                        display: flex;
                        color: #000;
                        padding: 12px 80px 12px 30px;
                        border-bottom: 1px solid #eee;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            background-color: $color2;
                            color: #fff;
                            border-bottom: 1px solid $color2;
                        }
                    }
                }
            }

            .column-profile{
                display: flex;
                cursor: pointer;
                margin-left: 20px;

                .profile-nav{
                    display: flex;
                    align-items: center;

                    .img-profile{
                        display: flex;
                        height: 30px;
                        width: 30px;
                        border-radius: 500px;
                        object-fit: cover;
                        object-position: center;
                    }
            
                    .name-profile{
                        display: flex;
                        font-size: 12px;
                        color: $color1;
                        margin: 0 5px;
                    }
            
                    i{
                        display: flex;
                        font-size: 12px;
                        color: $color1;
                        margin-top: -3px;
                        overflow: hidden;
                    }

                    .profile-collapse{
                        display: none;
                        flex-direction: column;
                        position: fixed;
                        background-color: #fff;
                        box-shadow: 0 2px 8px -1px rgba(0,0,0,0.1);

                        .menu-register{
                            display: flex;
                            color: #000;
                            padding: 12px 80px 12px 30px;
                            border-bottom: 1px solid #eee;
                            font-size: 13px;
                            transition: 0.3s ease-in-out;
                            font-weight: bold;
                            &:hover{
                                background-color: $color2;
                                color: #fff;
                                border-bottom: 1px solid $color2;
                            }
                        }
                    }
                }
            }
        }

        .btn-collapse-nav{
            display: none;
            height: 80px;
            align-items: center;
            cursor: pointer;
            font-size: 24px;
            color: $color2;

            @include navMobile(){
                display: flex;
            }
        }
    }
}