$color1: #777;
$color2: #3face4;
$color3: #f8f8f8;
$color4: #333;
$color5: #f9f9ff;
$color6: #ddd;
$color7: #ced4da;
$color8: #495057;
$color9: #222;
$color10: #2d2d2d;
$color11: #111111;

$fontDesktop: 14px;