@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $navContactMobile) and (max-width: 768px) {
        @content;
    }
}

@mixin semiDesktop {
    @media (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}

.wrapp-footer{
    display: flex;
    flex-direction: column;
    background-color: $color9;
    padding: 100px 10%;

    @include navContactMobile(){
        padding: 50px 5%;
    }

    .column-contact-us{
        display: flex;

        @include navContactMobile(){
            flex-direction: column;
        }

        .contact-us{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-right: 20px;

            @include navContactMobile(){
                width: auto;
                margin-right: 0px;
                margin-bottom: 40px;
            }

            ul{
                display: flex;
                flex-direction: column;
                .no-telp{
                    display: flex;
                    list-style: none;
                    margin-bottom: 5px;

                    .to-contact{
                        text-decoration: none;
                        font-size: 22px;
                        font-weight: bold;
                        color: #fff;
                        transition: 0.3s ease-in-out;
                        &:hover{
                            color: $color2;
                        }
                    }
                }
            }
        }

        .newsletter{
            display: flex;
            flex-direction: column;
            width: 50%;

            @include navContactMobile(){
                width: auto;
            }
        }

        .title-contact-us-group{
            display: flex;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
        }

        .paragraph-contact-us-group{
            display: flex;
            font-size: 14px;
            color: $color1;
            margin: 20px 0;
            text-align: start;
        }

        .form-input-email-newsletter{
            display: flex;
            justify-content: space-between;

            @include navContactMobile(){
                flex-direction: column;
            }

            @include tablet(){
                flex-direction: column;
            }

            @include semiDesktop(){
                flex-direction: column;
            }

            .column-btn-submit-newsletter{
                display: flex;
                margin-left: 20px;
                justify-content: flex-end;
                width: 45%;

                @include navContactMobile(){
                    width: auto;
                    margin-left: 0;
                    margin-top: 10px;
                    justify-content: flex-start;
                }

                @include tablet(){
                    width: auto;
                    margin-left: 0;
                    margin-top: 10px;
                    justify-content: flex-start;
                }

                @include semiDesktop(){
                    width: auto;
                    margin-left: 0;
                    margin-top: 10px;
                    justify-content: flex-start;
                }
            }
        }
    }

    .column-copy-right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;

        @include navContactMobile(){
            flex-direction: column;
        }

        .copy-right{
            display: flex;
            flex-wrap: wrap;
            font-size: 14px;
            color: $color1;
            text-align: start;
            margin-right: 20px;
            align-items: center;

            .name-developer{
                display: flex;
                margin: 1px 0 0 3px;
                color: $color2;
            }
        }

        ul{
            display: flex;
            align-items: center;

            @include navContactMobile(){
                margin-top: 10px;
            }

            .list-medsos{
                display: flex;
                list-style: none;
                cursor: pointer;
                background-color: $color11;
                transition: 0.3s ease-in-out;
                margin-left: 5px;
                width: 35px;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                &:hover{
                    background-color: $color2;
                }

                .link-medsos{
                    display: flex;
                    text-decoration: none;
                    color: #fff;
                    font-size: 14px;

                    i{
                        overflow: hidden;
                    }
                }
            }
        }
    }
}