@import '../../utils/variable.scss';

@mixin navContactMobile {
    @media (max-width: $navContactMobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 569px) and (max-width: 768px) {
        @content;
    }
}

@mixin bigTablet {
    @media (min-width: 769px) and (max-width: 986px) {
        @content;
    }
}

@mixin semiDesktop {
    @media (min-width: 967px) and (max-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1300px) {
        @content;
    }
}

.wrapp-detail-blog{
    display: flex;
    flex-direction: column;
    background-color: $color5;
    margin-top: 125px;

    .container-header{
        display: flex;
    }

    .container-content-blog-details{
        display: flex;
        padding: 100px 10% 80px 10%;

        @include navContactMobile(){
            flex-direction: column;
            padding: 50px 5% 50px 5%;
        }

        @include tablet(){
            flex-direction: column;
        }

        @include bigTablet(){
            flex-direction: column;
        }

        .column-kiri-content-blog-details{
            display: flex;
            flex-direction: column;
            width: 72%;
            margin-right: 30px;

            @include navContactMobile(){
                width: auto;
                margin-right: 0;
            }

            @include tablet(){
                width: auto;
                margin-right: 0;
            }

            @include bigTablet(){
                width: auto;
                margin-right: 0;
            }

            .img-content-blog-details{
                display: flex;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .main-content-blog-details{
                display: flex;
                margin-top: 30px;

                @include navContactMobile(){
                    flex-direction: column;
                }
                
                .column-category-blog-details{
                    display: flex;
                    flex-direction: column;
                    width: 20%;
                    margin-right: 20px;

                    @include navContactMobile(){
                        width: auto;
                        margin-right: 0;
                    }

                    @include tablet(){
                        width: auto;
                    }

                    @include semiDesktop(){
                        width: auto;
                    }

                    .date-group-blog-details{
                        display: flex;
                        font-size: 14px;
                        color: $color1;
                        text-align: start;
                        margin-bottom: 10px;
                        align-items: center;
                        justify-content: space-between;

                        @include navContactMobile(){
                            justify-content: flex-start;
                        }

                        i{
                            margin-left: 10px;
                        }
                    }

                    .name-category-content{
                        color: $color2;
                        margin-bottom: 20px;
                    }
                }

                .column-main-content{
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    @include navContactMobile(){
                        width: auto;
                    }

                    .title-main-content{
                        display: flex;
                        font-size: 22px;
                        font-weight: bold;
                        text-align: start;
                        margin-bottom: 20px;
                    }
                    
                    .paragraph-main-content{
                        font-size: 14px;
                        color: $color1;
                        text-align: start;

                        strong{
                            color: #000;
                        }
                    }
                }
            }

            .paragraph-before-highlight{
                font-size: 14px;
                color: $color1;
                text-align: start;
                margin-top: 40px;

                strong{
                    color: #000;
                }
            }

            .paragraph-highlight{
                text-align: start;
                padding: 30px;
                background-color: #fff;
                font-size: 14px;
                color: $color1;
                margin-top: 40px;
                font-style: italic;

                strong{
                    color: #000;
                }
            }

            .img-body-content{
                margin-top: 30px;
                width: 80%;

                @include navContactMobile(){
                    width: auto;
                }
            }

            .paragraph-body-content{
                font-size: 14px;
                color: $color1;
                text-align: start;
                margin-top: 30px;

                strong{
                    color: #000;
                }
            }

            .container-comments-blog-details{
                display: flex;
                flex-direction: column;
                border-top: 1px solid #eee;
                margin-top: 80px;

                .paginate-next-posts{
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 30px;

                    @include navContactMobile(){
                        display: block;
                    }

                    @include tablet(){
                        display: block;
                    }

                    @include desktop(){
                        display: flex;
                    }
                    
                    .card-prev-next-blog-details{
                        display: flex;

                        @include navContactMobile(){
                            margin-bottom: 10px;
                        }
    
                        @include tablet(){
                            margin-bottom: 10px;
                        }
                    }
                }

                .column-list-comments-blog-details{
                    display: flex;
                    flex-direction: column;
                    padding: 40px 30px;
                    margin-top: 40px;
                    border: 1px solid #eee;
                    
                    .total-comments{
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                .leave-a-reply{
                    display: flex;
                    flex-direction: column;
                    padding: 40px 30px;
                    margin-top: 40px;
                    border: 1px solid #eee;

                    .title-leave-a-reply{
                        display: flex;
                        font-size: 16px;
                        font-weight: bold;
                        justify-content: center;
                        text-align: center;
                    }

                    .form-leave-a-reply{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding-top: 40px;

                        .column-btn-submit-leave-a-reply{
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}